<li id="diary_comment-<%= diary_comment.id %>">
  <span class="content"><%= simple_format(hbr(diary_comment.content)) %></span>
  <div class="mini_thumb">
    <%= show_mini_thumb(diary_comment.user) %>
    <%= link_to diary_comment.user.name, diary_comment.user %>
    <span class="timestamp">
      <%= diary_comment.updated_at.to_s(:datetime) %>
    </span>
    <% if current_user?(diary_comment.user) %>
      <%= link_to image_tag('/static_images/delete_comment_icon.png', alt: "delete", class: "delete_icon"), diary_comment,
                    method: :delete, data: { confirm: "本当に削除しますか？" } %>
    <% end %>
  </div>
</li>
