<% provide(:title, 'メッセージ作成') %>
<h1>メッセージ作成</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@message, url: user_messages_path(params[:user_id]))  do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= hidden_field :message, :from_user_id, value: current_user.id %>
      <%= hidden_field :message, :to_user_id, value: @user.id %>

      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control' %>

      <%= f.submit "送信", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
