<li id="diary-<%= diary.id %>">
  <div class="title">
    <span><%= link_to truncate(diary.title, length: 50), diary %></span>
    <%= image_tag('/static_images/key.jpg') if diary.shared_with == SHARED_WITH_FRIENDS_ONLY %>
  </div>
  <div class="content">
    <%= truncate(diary.content, length: 75) %>
  </div>
  <div class="mini_thumb">
    <%= show_mini_thumb(diary.user) %>
    <%= link_to diary.user.name, diary.user %>
    <span class="timestamp">
      <% if diary.updated_at  < 1.days.ago %>
        <%= diary.updated_at.to_s(:date) %>
      <% else %>
        <%= diary.updated_at.to_s(:time) %>
      <% end %>
    </span>
  </div>
</li>
