<% provide(:title, '日記作成') %>
<div class="row">
  <aside class="col-md-3">
    <section>
      <%= render 'shared/user_info' %>
    </section>
  </aside>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">日記作成</h3>
      </div>
      <div class="panel-body">
        <%= form_for(@diary)  do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, class: 'form-control' %>

        <%= f.label :content, "内容" %>
        <%= f.text_area :content, rows: TEXT_AREA_BIG_ROW, class: 'form-control' %>

        <%= f.label :shared_with, '公開範囲' %><br>
        <label><%= f.radio_button :shared_with, SHARED_WITH_OPEN %>全体</label>

        <label><%= f.radio_button :shared_with, SHARED_WITH_FRIENDS_ONLY %>友達のみ</label>

        <div class="picture">
          <%= f.label :pictures, '画像投稿' %><br>
          <%= f.file_field :pictures, multiple: true, accept: 'image/jpeg,image/gif,image/png', class: 'input_picture' %>
        </div>

        <%= f.submit "投稿", class: "btn btn-primary submit" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
