<% provide(:title, @diary.title) %>
<div class="row">
  <aside class="col-md-3">
    <section>
      <%= render 'shared/user_info' %>
    </section>
  </aside>

  <div class="col-md-6">
    <% if shared_with?(@diary) %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @diary.title %></h3>
          <div class ="mini_thumb">
          <span class="timestamp">
            <%= @diary.updated_at.to_s(:datetime)  %>
          </span>
            <% if current_user?(@diary.user) %>
              <%= link_to image_tag('/static_images/edit_diary_icon.png', alt: "edit", class: "edit_icon"), edit_diary_path %>
              <%= link_to image_tag('/static_images/delete_diary_icon.png', alt: "delete", class: "delete_icon"), @diary,
                            method: :delete, data: { confirm: "本当に削除しますか？" } %>
            <% end %>
          </div>
        </div>
        <div class="panel-body">
          <% @diary.pictures.each do |picture| %>
            <%= link_to image_tag(picture.url(:thumb), alt: "diary_picture"),image_tag(picture.url), data:{lity: "data-lity"} %>
          <% end %>
           <!-- <%= image_tag("//ddragon.leagueoflegends.com/cdn/7.24.2/img/champion/Aatrox.png") %> -->
          <%= simple_format(hbr(@diary.content)) %>
        </div>
      </div>

      <% if @diary_comments.any? %>
        <div class="panel panel-default">
          <div class="panel-heading">
            コメント
          </div>
          <div class="panel-body">
            <ul class="diary_comments">
              <%= render @diary_comments %>
            </ul>
            <%= will_paginate @diary_comments %>
          </div>
        </div>
      <% end %>

      <%= form_for(@diary_comment)  do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= hidden_field :diary_comment, :diary_id, value: @diary.id %>
        <%# f.label :content %>
        <%= f.text_area :content, rows: TEXT_AREA_ROW, class: 'form-control' %>
        <%= f.submit "コメントする", class: "btn btn-primary" %>
      <% end %>

    <% else %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @diary.title %></h3>
        </div>
        <div class="panel-body">
          <h2>友達限定の日記です。</h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
