<li id="user-<%= user.id %>">
  <div class="icon">
    <%= show_middle_thumb(user) %>
  </div>
  <div class="name"><%= link_to truncate(user.name, length: 20), user %></div>
  <div class="profile"><%= truncate(user.profile, length: 65) %></div>
  <% if  current_user.admin? && current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
