<% provide(:title, "パスワード変更") %>
<div class="row">
  <aside class="col-md-3">
    <section>
      <%= render 'shared/user_info' %>
    </section>
  </aside>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">パスワード変更</h3>
      </div>
      <div class="panel-body">
        <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= f.label :password, "新しいパスワード" %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :password_confirmation, "新しいパスワード（再入力）" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>

          <%= f.submit "変更する", class: "btn btn-primary submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
