<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3">
    <section>
      <%= render 'shared/user_info' %>
    </section>
  </aside>
  <div class="col-md-6">
    <div class="profile-table-wrapper">
      <table class="profile-table">
        <colgroup>
            <col class="profile-table-header">
            <col>
            <col class="profile-table-content">
            <col>
        </colgroup>
        <tbody>
          <tr>
            <th colspan="2">サモナー情報</th>
          </tr>
          <tr>
            <td>名前</td>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td>ロール</td>
            <td><%= @user.role %></td>
          </tr>
          <tr>
            <td>プロフィール</td>
            <td><%= simple_format(hbr(@user.profile)) %></td>
          </tr>
        </tbody>
      </table>
  </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">日記一覧</h3>
      </div>
      <div class="panel-body">
        <%= render 'shared/feed' %>
      </div>
    </div>
  </div>
</div>
