<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-3">
    <section>
      <%= render 'shared/user_info' %>
    </section>
  </aside>
  <div class="col-md-6">
    <% if current_user?(@user) %>
      <%= link_to "日記作成", new_diary_path %>
      <%= link_to "edit", edit_user_path %>
    <% else %>
      <%= link_to "メッセージ作成", new_user_message_path(@user.id) %>
    <% end %>
    <p>name:<%= @user.name %></p>
    <p>role:<%= @user.role %></p>
    <p>profile:<%= @user.profile %></p>
    <%= render 'shared/feed' %>
    <% if @diaries.any? %>
      <dev class="read_more">
        <%= link_to "read more...", diaries_user_path(@user) %>
      </dev>
    <% end %>
  </div>
</div>
