<% provide(:title, 'トピック作成') %>
<h1>トピック作成</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@community_topic, url: community_community_topics_path(params[:community_id]))  do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= hidden_field :community_topic, :community_id, value: @community.id %>
      <%= hidden_field :community_topic, :user_id, value: current_user.id %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control' %>

      <%= f.submit "送信", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
