<div class="panel panel-default">
  <div class="panel-body">
    <%= show_big_thumb(@community) %>
  </div>
  <div class="panel-footer">
    <h2 class="community_name"><%= link_to @community.name, @community %></h2>
    <ul class="community-info-icon-wrap">
      <% if current_user?(@community.user) %>
        <%= link_to edit_community_path(@community) do %>
          <li class="community-info-icon border-right">
            <%= image_tag('/static_images/edit_community_icon.png', alt: "edit_community", class: "center-block") %>
          </li>
        <% end %>
        <%= link_to new_community_community_topic_path(@community) do %>
          <li class="community-info-icon">
            <%= image_tag('/static_images/new_community_topic_icon.png', alt: "new_community_topic", class: "center-block") %>
          </li>
        <% end %>
      <% else %>
        <%= render 'communities/follow_form' %>
        <%= link_to new_community_community_topic_path(@community) do %>
          <li class="community-info-icon">
            <%= image_tag('/static_images/new_community_topic_icon.png', alt: "new_community_topic", class: "center-block") %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

  <%= render 'communities/community_members' %>
