<% provide(:title, '編集画面') %>
<h1>編集画面</h1>

<div class="row">
  <aside class="col-md-3">
    <section>
      <%= render 'community_info' %>
    </section>
  </aside>
  <div class="col-md-6">
    <%= form_for(@community)  do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :content, "説明" %>
      <%= f.text_area :content, class: 'form-control' %>

      <%= check_box_tag :authority_transfer, class: "checkbox inline" %>
      <%= label_tag :authority_transfer, "コミュニティ権限を移譲する"  %>

      <div class="transfer_user">
        <%= f.label :user_id, "ユーザーを選択" %>
        <%= f.collection_select :user_id, @community.community_members,
                          :id, :name %>
      </div>

      <%= f.submit "投稿", class: "btn btn-primary submit" %>

      <%= f.label :picture, "トップ画像" %>
      <span class="picture">
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class:'input_picture' %>
      </span>

      <div id="crop_area_box">
        <img id="crop_image" src="#" class="img-responsive hidden"/>
      </div>

      <%= hidden_field :community, :image_w, id: 'image_w' %>
      <%= hidden_field :community, :image_h, id: 'image_h' %>
      <%= hidden_field :community, :image_x, id: 'image_x' %>
      <%= hidden_field :community, :image_y, id: 'image_y' %>

    <% end %>

    <%= form_for(@community, html: { method: :delete }) do |f| %>
      <%= f.submit "コミュニティを削除する", class: "btn", data: { confirm: "コミュニティを削除しますか？" } %>
    <% end %>
  </div>
</div>


<script type="text/javascript">

  // 画面初期表示時にユーザー一覧を非表示にする
  $('#authority_transfer').ready(function(){
    $('.transfer_user option:first').prop('selected', true);
  	$('.transfer_user').hide();
  });

  $('#authority_transfer').change(function(){
  	if ($(this).is(':checked')) {
    	$('.transfer_user').show(200);
  	} else {
  		$('.transfer_user').hide(200);
      $('.transfer_user option:first').prop('selected', true);
  	}
  });
</script>
